
! special
*.foreground:   #a2a2a2
*.background:   #18191D
*.cursorColor:  #a2a2a2

! black
*.color0:       #4e4e4e
*.color8:       #777777

! red
*.color1:       #a9635d
*.color9:       #ffbbb2

! green
*.color2:       #468459
*.color10:      #9ddeaf

! yellow
*.color3:       #84763d
*.color11:      #e0ce91

! blue
*.color4:       #5879af
*.color12:      #b3d1ff

! magenta
*.color5:       #9c6594
*.color13:      #fabdf0

! cyan
*.color6:       #008592
*.color14:      #79e0ed

! white
*.color7:       #cfcfcf
*.color15:      #ffffff

URxvt*scrollBar:         false

URxvt*font:              xft:Hack:Regular:size=8
URxvt*imFont:            xft:Hack:Regular:size=8
Uxvt*boldFont:           xft:Hack:Bold:size=8
URxvt*italicFont:        xft:Hack:Italic:size=8
URxvt*boldItalicFont:    xft:Hack:Regular:size=8

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #18191d, #38393d, #38393d
rofi.color-normal: argb:018191d, #ffffff, argb:118191d, #38393d, #ffffff
rofi.color-active: argb:018191d, #ffffff, argb:018191d, #38393d, #ffffff
rofi.color-urgent: argb:018191d, #dc322f, argb:018191d, #dc322f, #18191d

rofi.lines: 5
rofi.font: Droid Sans Mono Dotted for Powerline 9
rofi.separator-style: solid
rofi.fake-transparency: true
rofi.bw: 2
