!URxvt*depth: 32
! special colors
*.foreground:  #ffffff
*.background:  #181818
*.cursorColor:  #ffffff
! black
*.color0:      #2e2e2e
*.color8:      #676767
! red
*.color1:      #664444
*.color9:      #976a6a
! green
*.color2:      #2d8338
*.color10:     #52a25c
! yellow
*.color3:      #885522
*.color11:     #e1a44a
! blue
*.color4:      #224455
*.color12:     #365869
! magenta
*.color5:      #332244
*.color13:     #49395b
! cyan
*.color6:      #537282
*.color14:     #768e9a
! white
*.color7:      #a4a4a4
*.color15:     #ffffff

URxvt*scrollBar:         false

URxvt*font:              xft:Hack:Regular:size=8
URxvt*imFont:            xft:Hack:Regular:size=8
Uxvt*boldFont:           xft:Hack:Bold:size=8
URxvt*italicFont:        xft:Hack:Italic:size=8
URxvt*boldItalicFont:    xft:Hack:Regular:size=8

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #181818, #ffffff, argb:7bffffff
rofi.color-normal: argb:0181818, #ffffff, argb:0181818, argb:7bffffff, #181818
rofi.color-active: #181818, #ffffff, #181818, #181818, #ffffff
rofi.color-urgent: #181818, #dc322f, #181818, #dc322f, #181818
rofi.lines: 9
rofi.font: Hack Regular 10
rofi.separator-style: solid
rofi.fake-transparency: true
rofi.bw: 2
